/* Search */
.hp .RNNXgb {
  position: relative !important;;
  z-index: 1 !important;;
  background-color: #F1F3F4 !important;
  border: none !important;
  border-radius: 22px !important;
  box-shadow: none !important;
  outline: none !important;
  opacity: 1 !important;
  transition: background-color 300ms ease-in-out !important;
  transition: opacity 200ms !important;
}

/* Keyboard */
.hp .xPnqmf {
  display: none !important;
}

.hp .aajZCb {
  padding: 22px 0 !important;
  background: #f1f3f4 !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0px 0px 22px 22px !important;
}

/* Autocomplete */
.hp .UUbT9 {
  margin-top: -22px !important;
  padding: 0px !important;
  z-index: 0 !important;
}

.hp .sbhl {
  background: #dee3e5 !important;
}

/* Buttons */
.hp .jsb,
.hp .FPdoLc {
  display: none !important;
}

.hp .VlcLAe {
  display: none !important;
}

/* Suggestion links */
.hp #prm-pt {
  display: none !important;
}

/* Footer */
.hp #footer {
  display: none !important;
}
